@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ContactLibrary.Contact

@{
}

<!DOCTYPE html>

<html>

    <head>
        <title>Информация о контакте</title>
    </head>

    <body>

        <h3>Полная информация о контакте:</h3>

        <table class=table-condensed>

            <tr>
                <td><b>Id:</b> @Html.DisplayFor(x=>x.Id) </td>
            </tr>

            <tr>
                <td><b>Фамилия:</b> @Html.DisplayFor(x=>x.LastName)</td>
            </tr>

            <tr>
                <td><b>Имя:</b> @Html.DisplayFor(x=>x.FirstName)</td>
            </tr>

            <tr>
                <td><b>Email адрес:</b> @Html.DisplayFor(x=>x.Address)</td>
            </tr>

            <tr>
                <td><b>Телефон:</b> @Html.DisplayFor(x=>x.ContactPhone)</td>
            </tr>

            <tr>
                <td><b>Описание:</b> @Html.DisplayFor(x=>x.Description)</td>
            </tr>
        </table>

        <p></p>

        <form asp-controller="Home" asp-action="DeleteContact" asp-route-Id="@Model.Id">

            <p><input type="submit" value="Удалить контакт" /></p>

        </form>


        <p></p>

        <form method="get" asp-controller="Home" asp-action="EditContact" asp-route-Id="@Model.Id">
                        
            <p><input type="submit" value="Изменить данные" /></p>

        </form>

    </body>
</html>

